<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h4>Nailed it!</h4>

      <p>Company: <%= @message[:company_name]%> </p>
      <p>Website: <%= @message[:website]%> </p>
      <p>Name: <%=@message[:first_name]%> <%=@message[:last_name]%> </p>
      <p>Email: <%= @message[:email]%> </p>

      <p>Reason: <%= @message[:reason]%> </p>
      <p>Description: <%= @message[:description]%> </p>
      <p>Best Time to Reach: <%= @message[:best_time]%> </p>
  </body>
</html>
