<!DOCTYPE html>
<html>
<head>
  <title>Kelly Brooke Howard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon/favicon.ico' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="screen"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
